@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

div {
    background-color: #daf7c1;
    width: 320px;
    margin: 8px;
    padding: 8px 18px;
    border-radius: 14px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.del {
    display: none;
}

div:hover > .del {
    display: block;
    width: 15px;
    height: 15px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../img/bg.png");
    font-family: "Roboto", sans-serif;
}

.zapLogo {
    width: 40px;
    height: 40px;
}

div:hover > .zapLogo {
    display: block;
}

#balLogo {
    width: 40px;
    height: 40px;
}

#bottom {
    position: absolute;
    bottom: 0px;
}

#msgIn {
    justify-content:center;
    background-color: #daf7c1;
    width: 320px;
    margin: 8px;
    padding: 8px 18px;
    border-radius: 14px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}